.description {
  padding: 20px 30px;
  text-align: center;
}

.avatar {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.tag,
.location {
  margin: 0;
  color: rgb(99, 99, 99);
  font-size: 15px;
}

.tag {
  margin-bottom: 10px;
}
